*{
    margin: 0;
    padding: 0;
}

div{
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border: rgb(188, 39, 39) 2px solid;
    border-radius: 20px;
    height: 100vh;
    background-color: rgb(164, 157, 150);
}

.title{
    font-weight: bolder;
    color: black
}

.tag , .addBtn{
    text-transform:capitalize ;
    color: white;
    background-color: blueviolet;
    width: fit-content;
    border-radius:10px;
    margin: 0 auto;
}

